<div class="container">
    <div class="row">
        <h2 mat-dialog-title>{{data.dialogTitle}}</h2>
    </div>
    <div class="row">

        <mat-dialog-content>
            <p>{{data.dialogMessage}}</p>
        </mat-dialog-content>
    </div>
    <div class="row mx-auto justify-content-center align-items-center flex-column">
        <mat-dialog-actions>
            <div class="col-6"> <button class="btn btn-danger" mat-button mat-dialog-close>{{data.buttonCancel}}</button> </div>
            <div class="col-6"><button class="btn btn-success" mat-raised-button (click)="save()">{{data.buttonSave}}</button></div>
        </mat-dialog-actions>
    </div>
</div>